<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#home" style="font-family:system-ui; font-weight: bolder; font-size: medium;">Associação de Karaté de Felgueiras</a>
        <button class="navbar-toggler ml-auto @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" style="border-color: black;" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item" style="font-family:system-ui; font-weight: bolder; color: black;font-size: medium;">
                    <NavLink class="nav-link" href="https://akaratefelgueiras.medium.com/" Match="NavLinkMatch.All">
                        Blogue
                    </NavLink>
                </li>
                <li class="nav-item" style="font-family:system-ui; font-weight: bolder; color: black;font-size: medium;">
                    <NavLink class="nav-link" href="https://akaratefelgueiras.medium.com/registo-do-est%C3%A1gio-de-in%C3%ADcio-de-%C3%A9poca-2023-2024-30a7423cc202"  Match="NavLinkMatch.All">
                        Estágio de inicio de época - Resumo
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
